#content{
	width: 100%;
	margin: 20px auto;
	border: 1px solid #cbcbcb;
}

form{
	width: 50%;
	margin: 20px auto;
}
form_div{
	margin-top: 5px;
}
#img_div{
	width: 32.33%;
	height:594px;
	padding: 5px;
	margin: 15px auto;
	border: 1px solid #cbcbcb;
}
#img_div:after{
	content: "";
	display: block;
	clear: both;
}
img{
	float: left;
	margin: 5px;
	width: 100%;
	height: auto;
}